<div class="test">
  <mat-toolbar color="primary" class="header">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>
    <button mat-button color="primary">Login</button>
    <button mat-button color="primary" (click)="onCreateAccount()">Create Account</button>
  </mat-toolbar>


  <div *ngIf="isCreateBtn">
    <app-create-user></app-create-user>
  </div>

</div>
