<div class="test">
  <mat-toolbar color="primary" class="header">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>
    <button mat-raised-button color="primary" style="margin-right:5px" (click)="onLogin()">Login</button>
    <button mat-raised-button color="primary" (click)="onCreateAccount()">Create Account</button>
  </mat-toolbar>


  <div *ngIf="isCreateBtn">
    <app-create-user [handleUser]="handleUser"></app-create-user>
  </div>


  <div *ngIf="isLoginBtn">
    <app-create-user [handleUser]="handleUser"></app-create-user>
  </div>



</div>
