<div class="test">
  <mat-toolbar color="primary" class="header">
    <span class="example-spacer"></span>
    <button mat-button color="primary" (click)="onCreateAppoitment()">Create Appointment</button>
    <button mat-button color="primary" (click)="onShowAppoitments()">Show Appointments</button>
  </mat-toolbar>

  <mat-tab-group #tabs >
    <mat-tab label="Services">
        <app-barber-services (navToServices)="onNavTo($event)"></app-barber-services>
    </mat-tab>
    <mat-tab  [disabled]='!tabBarber'  label="Barber">
        <app-barber-shop-employees (navToCheckout)="onNavToSchedule($event)"></app-barber-shop-employees>
    </mat-tab>
      <mat-tab [disabled]='!tabSchedule'  label="Schedule">
        <app-schedule [barber]="selectedEmployee" [service]="selectedService"></app-schedule>
      </mat-tab>
  </mat-tab-group>
