<div class="example-container1">
  <mat-toolbar>
    <span *ngIf="handleUser === 'createUser'">Create an account</span>
    <span *ngIf="handleUser === 'loginUser'">Login</span>
  </mat-toolbar>

  <mat-card class="my-card">
     <mat-card-content>
        <form [formGroup]="createAccountForm" (ngSubmit)='onRegister()'class="my-form">
          <ng-container *ngIf="authFailed">
            <div  class="alert">
              <span style="margin:0.5rem">{{errorMsgText}}</span>
              <a class="fa fa-times-circle-o icon-large"  [style]="closeErrorDialogIcon" (click)="closeErrorDialog()"></a>
            </div>
          </ng-container>
           <mat-form-field class="full-width">
              <mat-label>Email</mat-label>
              <input  matInput placeholder="Email" formControlName="email" name="email">
           </mat-form-field>
           <mat-form-field class="full-width">
              <mat-label>Password</mat-label>
              <input  matInput type="password"  placeholder="Password" formControlName="password" name="password">
           </mat-form-field>

        </form>
     </mat-card-content>
     <mat-card-actions>
        <button  *ngIf="handleUser === 'createUser'" mat-raised-button  color="primary" [disabled]="createAccountForm.invalid" (click)="onRegister()">Register</button>
        <button  *ngIf="handleUser === 'loginUser'" mat-raised-button  color="primary" [disabled]="createAccountForm.invalid" (click)="onLogin()">Login</button>
     </mat-card-actions>
  </mat-card>
</div>
