
<div class="responsive">
  <mat-toolbar color="primary" class="header">
    <span class="example-spacer"></span>
    <button mat-raised-button color="primary" style="margin-right:5px" (click)="onCreateAppoitment()">Create Appointment</button>
    <button  mat-raised-button  color="primary" (click)="onLogOut()">Logout</button>
  </mat-toolbar>
  <mat-button-toggle-group  (change)="onToogleButtonChangeEvent($event)" value="future" aria-label="Favorite Color">
    <mat-button-toggle  value="past">PAST</mat-button-toggle>
    <mat-button-toggle  value="future">FUTURE</mat-button-toggle>
  </mat-button-toggle-group>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="width: 100%">

    <ng-container matColumnDef="barber">
      <th mat-header-cell *matHeaderCellDef> Barber </th>
      <td mat-cell *matCellDef="let element"> {{element.barber}} </td>
    </ng-container>


    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> Date </th>
      <td mat-cell *matCellDef="let element, let i = index;">
        <div *ngIf="viewMode === 'normalMode'">  {{element.date | date:'MM/dd/yyyy' }}</div>
        <div *ngIf="viewMode === 'editMode'"  class="datepicker">
          <mat-form-field *ngIf="viewMode === 'editMode'"  class="datepicker">
            <mat-label>Change date</mat-label>
            <input #dateSelect  matInput (dateChange)="onDateChanged($event, i)" [matDatepickerFilter]="excludeWeekendDays" [matDatepicker]="dp" [value]="element.date">
            <mat-datepicker-toggle matIconSuffix [for]="dp"></mat-datepicker-toggle>
            <mat-datepicker    #dp></mat-datepicker>
          </mat-form-field>
        </div>
        </td>
    </ng-container>


    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <ng-container matColumnDef="hour">
      <th mat-header-cell *matHeaderCellDef> Hour </th>
      <td mat-cell *matCellDef="let element,let i = index;">
        <div *ngIf="viewMode === 'normalMode'"> {{element.hour}}</div>
          <div *ngIf="viewMode === 'editMode'">
            <mat-select (openedChange)="onSelectionChange(element)" #hourSelect [(ngModel)]="selectedValue[i]" name="schedule"  style="width:100px">
              <mat-option id="test123"  #hourOption *ngFor="let singleSchedule of scheduleArray" [value]="singleSchedule.value">
                {{singleSchedule.viewValue}}
              </mat-option>
            </mat-select>
            <!-- <mat-form-field appearance="fill">
              <mat-label>Hour</mat-label>
            <select matNativeControl (change)="onSelectionChange($event.target.value)" [(ngModel)]="selectedValue" name="car">
              <option value="" selected></option>
              <option *ngFor="let singleSchedule of scheduleArray" [value]="element.hour">
                {{singleSchedule.viewValue}}
              </option>
            </select>
          </mat-form-field> -->
          </div>
          <!-- <ng-container *ngIf="viewMode === 'editMode'" >
            <div>
              test
            </div>
          </ng-container> -->
        </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="service">
      <th mat-header-cell *matHeaderCellDef> Service </th>
      <td mat-cell *matCellDef="let element"> {{element.service}} </td>
    </ng-container>

    <ng-container matColumnDef="btn">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element ,let i = index;">
        <div *ngIf="showButtons">
          <button *ngIf="viewMode === 'normalMode'" mat-button color="primary" (click)="onEditEntry(element)" >Edit</button>
          <button *ngIf="viewMode === 'editMode'" mat-button color="primary" [disabled]="onDisableValue(i)" (click)="onSaveEntry(element, i)" >Save</button>
          <button *ngIf="viewMode === 'editMode'" mat-button color="primary" (click)="onCancelEdit(element)" >Cancel edit</button>
          <button mat-button color="primary"  color="warn"  (click)="onDeleteEntry(element)" >Delete</button>
        </div>

        </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row (click)="onRowClick($event)" *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

